*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font-family: */
    
}
form{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: #64748B;
    /* color:aqua; */
}

.calculator 
{
position:relative;
display:grid;

}

.calculator .value{
grid-column:span 4;
height: 100px;
text-align: right;
border: none;
outline:none;
padding: 10px;
font-size: 15px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background:#0c2835;
    place-items: center;
    border: 2px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.calculator span:active{
    background: #74ff3b;
    color:#111;
}

.calculator span.clear{
    grid-column:span 2;
    width:120px;
    background:#9f1239;
}

.calculator span.plus{
    grid-row:span 2;
    height:120px;
}

.calculator span.equal{
    background: #6366f1;
}

.calculator span.equal:active{
    background:#fb923c;
    color:#111;
}

.calculator span.clear:active{
    background:#fb923c;
}